body { 
  background-color: #9B869E;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 97vh;
  font-family: 'Cabin Sketch', cursive;
  font-size: 150%;
  @import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

}

#guessbox {
}
